{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewpoint" content="width=device-width, intial-scale=1.0">
        <title>home page</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>

    <body>

    <div class="hero">
          <nav>
                <img src="{% static '/image/menu.png' %}" class="menu-img">
                <img src="{% static '/image/elogot.png' %}" class="logo">
                
                <button type="button" onclick="togglebtm()" id="btm"><span></span></button>
          </nav>

          <div class="lamp-container">
            <img src="{% static '/image/lamp.png' %}" class="lamp">
            <img src="{% static '/image/light.png' %}" class="light" id="light">
            <img src="{% static '/image/art.png' %}" class="art">
          </div>

          <div class="text-container">

            <h1>Event management</h1>

            <p>our websits givee best database and best quality of event management.</p>

            <a href="Event_registration/">Event Registration</a>
            <a href="Participant_registration/">participant Registration</a>
            <a href="Event_dashboard/">Event Dashboard</a>
          </div>

    </div>
    
    <script>

        var btm = document.getElementById("btm");
        var light = document.getElementById("light");

        function togglebtm()
        {
            btm.classList.toggle("active");
            light.classList.toggle("on");
        }

    </script>
           
    </body>

</html>