{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <title>Event_registration</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/E_r_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/media_r.css' %}">
    </head>

    <body>

        <div class="hero">

            <nav>
                <a href="javascript:history.go(-1)"onMouseOver="self.status.referrer;return true">back to home</a>
                <h1>Event Registration</h1>

            </nav>

            <div class="container">
                <div class="user_detail">
                    <form action="" method="POST">
                        <div class="tcontainer">
                            
                            {% csrf_token %}

                            {% for field in form %}
                            <p>
                                {% if field.label == 'To' %}
                                    <div class="to">  {{field.label_tag}} </div>  {{field}}
                                {% else %}
                                     {{field.label_tag}} {{field}} 
                                {% endif %}
                                {{field.errors}}
                            </p>
                            {% endfor %}

                        </div>        
                        
                        <div class="button">
                            <input type="submit" value="Registration">
                        </div>
                        
                    
                    </form>
                </div>
            </div>

        </div>
    
           
    </body>

</html>